.page-home{
    width: 100rem;
    overflow: hidden;
}


.reviewSection-container{
    background : url("../../assets/Review.png") no-repeat;
    width: 100rem;
    height: 106.0625rem;
    flex-shrink: 0;

}

.footer-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.31rem;
}

.footer-footer-span{
    position: absolute;
    width: 87.5%;
    border: 1px solid #c5c5c5;
}

.footer-editor{
    margin-top: 1rem;
    color: var(--greyscaletext-20, #A9A9A9);
    text-align: center;
    font-family: 'Trips Sans', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 1.05rem */
    letter-spacing: 0.00875rem;
}

@media screen and (max-width:376px) {
    .page-home{
        width: 23.5rem;
        
    }

    


    .reviewSection-container{
        width: 23.5rem;
    }
}



