
.reviewHome-container{
  width: 100rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 4.56rem;
}

.reviewHome-title{
  color: var(--greyscaletext-0, #FFF);
  font-family: "Londrina Solid";
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 3.5rem */
  margin-top: 8.31rem;
  margin-bottom: 5.62rem;
}

.reviewHome-image-wrap{
  width: 31.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.reviewHome-image {
  width: 31.375rem;
  height: 31.1875rem;
  /* Dùng file SVG như một mặt nạ */
  -webkit-mask-image: url('../../assets/Vector_mapLine.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.reviewHome-container-comments{
  position: absolute;
}

.reviewHome-comment-items{

}

.reviewer-comment-item{
  display: inline-flex;
  padding: 1.5rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(16px);
}

.reviewer-container-1{
  position: absolute;
  top: -10rem;
  left: -34.25rem;
}

.reviewer-container-2{
  position: absolute;
  top: 6rem;
  left: -42.25rem;
}

.reviewer-container-3{
  position: absolute;
  top: -2.5rem;
  left: 18.25rem;
}

.review-info-container-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.reviewer-info-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}

.reviewer-avatar{
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 1.5rem;
  border: 4px solid var(--greyscaletext-0, #FFF);
  box-shadow: 30px 63px 20px 0px rgba(25, 67, 43, 0.00), 19px 40px 18px 0px rgba(25, 67, 43, 0.01), 11px 23px 15px 0px rgba(25, 67, 43, 0.05), 5px 10px 11px 0px rgba(25, 67, 43, 0.09), 1px 3px 6px 0px rgba(25, 67, 43, 0.10);
  }

.reviewer-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.375rem;
}

.reviewer-name{
  color: var(--greyscaletext-5, #F1F1F1);
  text-align: center;
  font-family: 'Trips Sans', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 1.5rem */
}

.reviewer-date{
  color: var(--greyscaletext-5, #F1F1F1);
  font-family: 'Trips Sans', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.00875rem;
  }

.reviewer-icon{
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.41663rem 0.39769rem 0.39775rem 0.41669rem;
  justify-content: center;
  align-items: center;
}

.reviewer-stars{
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
}

.fa-star{
  color: rgba(230, 72, 39, 1);
}

.reviewer-text{
  color: var(--greyscaletext-5, #F1F1F1);
  font-family: 'Trips Sans', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.00875rem;
  width: 20.625rem;
  height: 5.3125rem;
  overflow-y: auto;  
}

.reviewer-icon-wrap{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2.75rem;
}

.reviewer-icon-title{
  color: var(--greyscaletext-0, #FFF);
  text-align: center;
  font-family: 'Trips Sans', sans-serif;;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.00875rem;
}

.reviewer-icon-list{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;
}

.reviewer-icon-item{
  width: 2.29688rem;
 height: 2.25rem;
}

.reviewer-border{
  position: absolute;
  z-index: 10;
  top: 15.625rem;
  left: 11rem;
  width: 57.375rem;
  height: 33.1875rem;
}

.reviewHome-container-comments-mobile{
  display: none;
}

.reviewHome-title-heading{
  display: none;
}

@media screen and (max-width: 376px){
    .reviewHome-container{
      width: 23.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      overflow: hidden;
    }

    .reviewHome-title-container-wrap{
      display: flex;
      width: 23.4375rem;
      padding: 0rem 1rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
      margin-top: 4.54rem;
    }

    .reviewHome-title-heading{
      display: block;
      color: var(--greyscaletext-0, #FFF);
      font-family: 'Trips Sans', sans-serif;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 800;
      line-height: 120%; /* 1.05rem */
      opacity: 0.4;
    }

    .reviewHome-title{
      align-self: stretch;
      color: var(--greyscaletext-0, #FFF);
      font-family: "Londrina Solid";
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 900;
      line-height: 120%; /* 3rem */
      margin: 0;
    }

    .reviewHome-image-wrap{
      display: none;
    }

    .reviewer-border{
      display: none;
    }

    .reviewHome-container-comments{
      display: none;
    }
    .reviewHome-container-comments-mobile{
      display: block;
      width: 39.5rem;
      height: 15.375rem;
    }

    .reviewer-comment-item{
      display: flex;
      width: 19.4375rem;
      padding: 1.5rem 1rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      flex-shrink: 0;
    }

    .review-info-container-wrap{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;
    }

    .reviewer-info-wrap{
      gap: 1.25rem;
    }

    .reviewer-avatar{
      width: 3rem;
      height: 3rem;
      flex-shrink: 0;
    }

    .reviewer-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.375rem;
    }

    .reviewer-name{
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 800;
        line-height: 120%; /* 1.5rem */
    }

    .reviewer-date{
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 800;
      line-height: 120%; /* 1.05rem */
      letter-spacing: 0.00875rem;
    }

    .reviewer-icon{
      display: flex;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.41663rem 0.39769rem 0.39775rem 0.41669rem;
      justify-content: center;
      align-items: center;
    }

    .reviewer-stars{

    }

    .fa-star{

    }
    
    .reviewer-text{
      color: var(--greyscaletext-5, #F1F1F1);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 1.05rem */
      letter-spacing: 0.00875rem;
      width: 18rem;
      height: 6.75rem;
    }

    .reviewer-icon-wrap{
      margin-top: 0;
    }
}