.bodyMission-container{
    display: flex;
    width: 100rem;
    justify-content: space-between;
    flex-shrink: 0;
    position: relative;
    overflow-x: clip;
}

.bodyMission-container-content{
    margin-left: 6.75rem;
    margin-top: 3.44rem;
}

.bodyMission-title{
    color: var(--greyscaletext-0, #FFF);
    font-family: "Londrina Solid";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 3.5rem */
    margin-top: 1.88rem;
}

.bodyMission-content{
    width: 38.8125rem;
    height: 4.5rem;
    color: var(--greyscaletext-10, #C5C5C5);
    font-family: 'Trips Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
    letter-spacing: 0.005rem;
    margin-top: 3.5rem;
}

.bodyMission-option-list{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}

.bodyMission-option-item{
    display: flex;
}

.bodyMission-option-title{
    color: var(--greyscaletext-5, #F1F1F1);
    font-family: "Trip Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 1.5rem */
    margin-left: 0.5rem;
}

.button-container{
    margin-top: 2rem;
    display: flex;
    gap: 1rem   ;
}

.button-container-left{
    display: flex;
    height: 3.5rem;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--orange-normal-hover, #DA4B19);
    background: var(--orange-normal-hover, #DA4B19);
    color: var(--greyscaletext-0, #FFF);
    text-align: center;
    font-family: "Trip Sans", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.05rem */
    text-transform: uppercase;
}

.button-container-right{
    display: flex;
    height: 3.5rem;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--BACKGROUND-ELEVATION-5, #FFF);
    background-color: unset;
    color: var(--BACKGROUND-ELEVATION-5, #FFF);
    text-align: center;
    font-family: "Trip Sans", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.05rem */
    text-transform: uppercase;
}

.bodyMission-scroll-svg{
    position: absolute;
    top: 1.5rem;
    left: 49.875rem;
}

.bodyMission-img-svg{
    width: 12.5rem;
    height: 40rem;
    overflow: 'visible'
}

.bodyMission-img-svg path {
    stroke: #DA4B19;
}

.motobike{
    width: 8.78538rem;
    height: 7.5rem;
    transform: rotate(-61.927deg);
}

.bodyMission-container-image{
    margin-top: 2rem;
    width: 57.5625rem;
    height: 31.375rem;
    flex-shrink: 0;
    position: absolute;
    right: -20.25rem;
    top: 1rem;
}

.bodyMission-image{
    flex-shrink: 0;
    width: 100%;
    height: auto;
}

.bodyMission-title-heading{
    display: none;
}

@media screen and (max-width: 376px){
    .bodyMission-container{
        width: 23.5rem;
    }

    .bodyMission-container-content{
        display: flex;
        width: 23.4375rem;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        margin-top: 2.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .bodyMission-title-heading{
        display: block;
        color: var(--greyscaletext-0, #FFF);
        font-family: "Trip Sans", sans-serif;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 800;
        line-height: 120%; /* 1.05rem */
        letter-spacing: 0.00875rem;
        opacity: 0.4;
        margin-bottom: 0.81rem;
    }

    .bodyMission-title{
        width: 16.04469rem;
        color: var(--greyscaletext-0, #FFF);
        font-family: "Londrina Solid";
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 900;
        line-height: 120%; /* 3rem */
        margin: 0;
    }

    .bodyMission-content{
        width: 20.9375rem;
        color: var(--greyscaletext-0, #FFF);
        font-family: "Trip Sans", sans-serif;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 1.3125rem */
        letter-spacing: 0.00219rem;
        height: 6.5625rem;
        margin: 0;
        margin-top: 1.875rem;
        margin-left: 0.375rem;
        margin-bottom: 0.5rem;
    }
    .bodyMission-option-item{
        gap: 0.75rem;
    }

    .bodyMission-option-img{
        width: 1rem;
        height: 1rem;
    }

    .bodyMission-option-title{
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 1.05rem */
        margin-left: 0;
    }

    .bodyMission-container-image{
        display: none;
    }

    .button-container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        align-self: stretch;
    }

    .button-container-left{
        display: flex;
        height: 3rem;
        padding: 0.75rem 1.5rem;
        gap: 0.5rem;
        flex: 1 0 0;
        color: var(--greyscaletext-0, #FFF);
        text-align: center;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 1.05rem */
    }

    .button-container-right{
        display: flex;
        height: 3rem;
        padding: 0.75rem 1.5rem;
        gap: 0.5rem;
        flex: 1 0 0;
        color: var(--BACKGROUND-ELEVATION-5, #FFF);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 1.05rem */
        text-transform: uppercase;
    }
}