.banner-container{
    background : url("../../src/assets/Banner_1.png") no-repeat;
    width: 100rem;
    height: 49.25rem;
    flex-shrink: 0;
    position: relative;
}

.menuTab-position{
    position: absolute;
}

.bodySection-container{
    background : url("../../src/assets/background_body.png") no-repeat;
    width: 100rem;
    height: 162.6875rem;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodySection-mountain {
    position: absolute;
    width: 101.74588rem;
    height: 9.25406rem;
    flex-shrink: 0;
    top: -1rem;
}

.bodySection-arrow-down{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8125rem;
    margin-top: 6.5rem;
}

.bodySection-arrow-down-title{
    color: #FFF;
    text-align: center;
    font-family: 'Trips Sans', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 1.05rem */
    letter-spacing: 0.00875rem;
    cursor: pointer;
}


.bodySection-welcome-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 4.875rem;
}

.bodySection-welcome-img-title{
    position: absolute;
    top: 2.625rem;
    left: 12.5rem;
}

.bodySection-welcome{
    color: var(--greyscaletext-0, #FFF);
    font-family: 'Trips Sans', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 1.125rem */
    margin-bottom: 0.75rem;
}
.bodySection-welcome-title{
    color: var(--Green-Light, #E9F1ED);
    font-family: "Londrina Solid";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 3.5rem */
    margin-bottom: 13.56rem;
}

.bodySection-welcome-img{
    border-radius: 1rem;
}

.travelSection-container{
    width: 100rem;
    height: 187rem;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between; 
}

.travelSection-map-container-wrap{
    height: 180rem;
    position: relative;
}

.travelSection-map-container{
    position: sticky;
    z-index: 10;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.travelSection-map-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: stretch;
    gap: 0.75rem;
    margin-left: 5rem;
    margin-top: 5.62rem;
}

.travelSection-map-tab{
    color: var(--greyscaletext-80-main, #262626);
    font-family: 'Trips Sans', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 1.125rem */
    opacity: 0.4;
}

.travelSection-map-title{
    color: var(--greyscaletext-80-main, #262626);
    font-family: "Londrina Solid";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 3.5rem */
}

.travelSection-map-image{
    margin-top: 2.44rem;
    margin-left: 4.4rem;
    width: 29.29231rem;
    height: 28.12494rem;
    flex-shrink: 0;
}

.travelSection-map-img{
    width: 32.29231rem;
    height: 31.12494rem;
    flex-shrink: 0;
}

.reviewSection-container{
    background : url("../../src/assets/Review.png") no-repeat;
    width: 100rem;
    height: 106.0625rem;
    flex-shrink: 0;

}



