.bodyOption-container{
    margin-top: 10.5rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100%;
}
.bodyOption-Logo-H{
    width: 7rem;
    height: 6.9375rem;
    flex-shrink: 0;
}

.bodyOption-title-container{

}

.bodyOption-title{
    width: 53.75rem;
    color: #FFF;
    text-align: center;
    font-family: "Londrina Solid";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 3.5rem */
}

.bodyOption-list{
    display: flex;
}

.bodyOption-list-gird{
    display: flex;
}

.bodyOption-items-wrap{
    position: relative;
    width: 12.5rem;
    height: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bodyOption-items{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.75rem;
    height: 10.75rem;
    flex-shrink: 0;
    text-align: center;
    stroke-width: 1.5px;
    stroke: var(--greyscaletext-20, #A9A9A9);
    border-radius: 50%;
    border: 2px #a9a9a9 dashed;
    margin: 0.87rem ;
    background-color: unset;
    animation: rotate-center 2s linear infinite;
    transition: background-color 0.4s ease;

}

.bodyOption-items-wrap:hover{
    .bodyOption-items{
        background-color: rgba(230, 72, 40, 1);
    }
    .bodyOption-text-item{
        animation: text-scroll 0.4s ease forwards;
    }
}

@keyframes rotate-center {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2.25rem);
  }
}


.bodyOption-item{
    color: var(--greyscaletext-0, #FFF);
    text-align: center;
    font-family: 'Trips Sans', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 1.05rem */
    text-transform: uppercase;
    width: 7.8rem ;
    position: absolute;
    height: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0; 
    display: flex;
    flex-direction: column;
}

.bodyOption-text-item-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 2.25rem;
    overflow: hidden;
}

.bd-text-item{
    display: flex;
    align-items: center;
    text-align: center;
    height: 2.25rem;
}


@media screen and (max-width: 376px){
    .bodyOption-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.55331rem;
        margin-top: 3.75rem;
    }
    .bodyOption-Logo-H{
        width: 4.5rem;
        height: 4.45981rem;
        flex-shrink: 0;
    }
    .bodyOption-title{
        width: 20.03781rem;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 900;
        line-height: 120%; /* 1.8rem */
        letter-spacing: 0.00375rem;
    }

    .bodyOption-list{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        justify-content: center;
        align-items: center;
    }

    .bodyOption-list-gird{
        display: flex;
    }

    .bodyOption-items-wrap {
        width: 7.01663rem;
        height: 6.01663rem;
    }

    .bodyOption-items{
        width: 6.01663rem;
        height: 6.01663rem;
        flex-shrink: 0;
        margin: 0.49rem 0.24rem ;

    }

    .bodyOption-item{
        font-size: 0.5rem;
        font-style: normal;
        font-weight: 800;
        line-height: 120%; /* 0.6rem */
        text-transform: uppercase;
        width: 4.9375rem;
        height: 6.01663rem;
    }
}