.sliderHome-container-wrap{
    position: relative;
    height: 53.37rem;
    width: 100rem;
}

.sliderHome-title-left-container{
    position: absolute;
    z-index: 10;
    top: -3.75rem;
    left: 4rem;
    width: 4.75rem;
    height: 32.0625rem;
}

.sliderHome-title-left{
    width: 100%;
    height: 100%;
}

.sliderHome-container{
    position: absolute;
    z-index: 5;
    width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sliderHome-title-wrap{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.sliderHome-title{
    color: var(--Grey-grey-800, #222);
    font-family: "Londrina Solid";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 3.5rem */
}

.sliderHome-logo{
    margin-left: 3.94rem;
    margin-right: 4rem;
    width: 6.5625rem;
    height: 6.5625rem;
    flex-shrink: 0;
}

.sliderHome-content-wrap{
    display: flex;
    width: 42.6875rem;
    height: 4.9375rem;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) -48.55%, rgba(12, 140, 30, 0.14) 100%);
    padding: 1.44rem 5rem 1.37rem 2.12rem;
}

.sliderHome-content{
    color: var(--greyscaletext-80-main, #262626);
    text-align: right;
    font-family: 'Trips Sans', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.05rem */
    letter-spacing: 0.00875rem;
    width: 35.5625rem;
}

.sliderHome-slider-wrap{
    overflow: hidden;
    white-space: nowrap;
    width: 100rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.sliderHome-slider-1{
    display: flex;
    width: calc(200%); 
    animation: scroll 10s linear infinite;
    gap: 0.75rem;

    
}

.sliderHome-slider-2{
    display: flex;
    width: calc(200%); 
    animation: scroll 10s linear infinite;
    gap: 0.75rem;
    padding:0 16rem ;

}

.sliderHome-image{
    width: 35.5rem;
    height: 21.125rem;
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.sliderHome-button-wrap{
    display: none;
}

@media screen and (max-width: 376px){
    .sliderHome-container-wrap{
        height: 42.875rem;
        width: 23.5rem;
    }

    .sliderHome-title-left-container{
        display: none;
    }

    .sliderHome-container{
        width: 23.5rem;
        overflow: hidden;
        align-items: flex-start ;
        margin-top: 1.625rem;
    }

    .sliderHome-title-wrap{
        display: flex;
        width: calc(200%); 
        animation: scroll-mobile 5s linear infinite;
        width: 87rem;
        margin: 0;
    }

    .sliderHome-title{
        width: 29.6875rem;
            color: var(--Green-Normal, #23704D);;
    }

    @keyframes scroll-mobile {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-80%);
        }
    }

    .sliderHome-slider-wrap{

    }

    .sliderHome-slider-1{

    }

    .sliderHome-slider-2{

    }

    .sliderHome-image{
        width: 23.83063rem;
        height: 14.18094rem;
        flex-shrink: 0;
    }

    .sliderHome-button-wrap{
        display: block;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top: 0.75rem;
    }

    .sliderHome-button{
        display: flex;
        width: 9.9375rem;
        height: 3rem;
        padding: 0.75rem 1.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid var(--orange-normal-hover, #DA4B19);
        background: var(--orange-normal-hover, #DA4B19);
        color: #fff;
    }


}